/*Chapter 3 homework*/
/* here we are styling the body*/
body {
	background: white;   /* Set the background to a white color */
	margin: auto;			 /* Set the margin to auto */
	font-size: 100%; 		 /* this sets the base font size for everything */ 
}

/* Here we are the header, main, and footer */

header, main, footer {
	width: 100%;
}
header .container, main .container, footer .container {
	max-width: 855px;
	margin: auto;
}

/* the head */

h1 {
	color: maroon;
	text-align: left;
	font-family: xx-large;
	float: left;
	width: 554px;
	margin-left: 0.5em;
}

main {
	background: white;
    float: left;
    margin-top: 0.2em;
}

h2 {
	font-size: x-large;
	text-align: left;
	margin-left: 1em;
    width: 50%;
    float: left	
}

ol {
	width: 50%;
    float: left;
}
main li {
	font-weight: bold;
}

/* here we are styling the paragraph */

main p {
	font-size: large;
	color: gray;
	width: 390px;
	margin-top: 1px;
	margin-bottom: 1px;
}

header {
	background-color: yellow;
	overflow: auto;
} 

header nav {
	float: right;
	width: 285px;
	margin-top: 5px;
}
img {
	width: 38%;
	margin-right: 1em;
	margin-left: 1em;
}
footer {
	margin-top: 0.2em;
	float: left;
	height: 180px;
	background-color: yellow;
}
div .contact {
	width: 50%;
    float: left;
	height: 180px;
}

div .sitemap {
	width: 50%;
    float: right;
	height: 180px;
}
div .left {
	float: left;
}
div .right {
	float: right;
	width: 260px;
}
h3 {
    font-weight: bold;
	margin-bottom: 5px;
	margin-left: 20px;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
footer p {
	margin-left: 20px;
	border-left: 2px;	
}   
footer li {
    margin-left: 20px;
    border-left: 2px;
}


